In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [ ]:
import pandas as pd

In [6]:
import pandas as pd

data = {
    'ProductName': ['product A', 'product B', 'product C'],
    'ProductPrice': [22250, 16600, 12500]
}
df = pd.DataFrame(data)  # Corrected the capitalization here
print(df)

  ProductName  ProductPrice
0   product A         22250
1   product B         16600
2   product C         12500

In [9]:
import pandas as pd

# Create a list of dictionaries

data = [
    {'Name': 'Amy White', 'Age': 50, 'Working Experience (Yrs.)': 5},
    {'Name': 'Jack Stewart', 'Age': 53, 'Working Experience (Yrs.)': 8},
    {'Name': 'Richard Lauderdale', 'Age': 35, 'Working Experience (Yrs.)': 3},
    {'Name': 'Sara Johnson', 'Age': 43, 'Working Experience (Yrs.)': 10}
]

# Create the DataFrame from the list of dictionaries

df = pd.DataFrame(data)

# Print the DataFrame

print(df)

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

In [16]:
import pandas as pd
data = [['Amy White', 50, 5], ['Jack Stewart', 53, 8], ['Richard Lauderdale', 35, 3], ['Sara Johnson', 43, 10]]
df = pd.DataFrame(data)
df.columns = ['Name', 'Age', 'Working Experience (Yrs.)']
df.index = [0, 1, 2, 3]
# Print the DataFrame
print(df)

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

In [15]:
import pandas as pd

# Create the data
data = [['Amy White', 50, 5], 
        ['Jack Stewart', 53, 8], 
        ['Richard Lauderdale', 35, 3], 
        ['Sara Johnson', 43, 10]]

# Create the DataFrame
df = pd.DataFrame(data)

# Set the column names
df.columns = ['Name', 'Age', 'Working Experience (Yrs.)']

# Set the index
df.index = [0, 1, 2, 3]

# Print the DataFrame
print(df)

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10

In [18]:
import pandas as pd

# Create the data
data = {
    "Name": ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age": [50, 53, 35, 43], 
    "Working Experience (Yrs.)": [5, 8, 3, 10]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Set the index starting from 1
df.index = range(1, len(df) + 1)

# Print the DataFrame
print(df)

                 Name  Age  Working Experience (Yrs.)
1           Amy White   50                          5
2        Jack Stewart   53                          8
3  Richard Lauderdale   35                          3
4        Sara Johnson   43                         10